.todo-container {
background-color: black;
margin: 1.5em;
.todo-list {
background-color: grey;
color: white;
padding: 5px;
.todo-item {
display: flex;
flex-flow: column nowrap;
justify-content: center;
align-items: center;
}
.todo-item * {
flex: 1 1 0;
}
}
}
